body {
  background-color: #f9f3cf;
}

.imagen {
  align: center;
}

main {
    padding-top: 100px;
    text-align: center;
}

img{
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}

img-div{
  width: 50%; 
}

main {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  }

flickr {
  margin: 1rem;
  padding: 1rem;
  align: right;
  }